body {
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #A5F737;
}

.quem-somos {
    background-color: #3366ff;
    color: white;
}

.margin {
    padding-top: 50px;
    padding-bottom: 50px;
}

.margin img {
    padding-top: 20px;
    padding-bottom: 20px;
}

.parceiros {
    background-color: #ff6699;
}

.servicos {
    background-color: wheat;
}

.bg-footer {
    background-color: black;
    color: blanchedalmond;
}